.sign{
    height: 600px;
    background-image: url("https://res.cloudinary.com/maravoly/image/upload/v1657426949/images/examen/tecnologia_ln6jdn.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    text-align: center;    
    font-weight: 300; 
    font-size: 1.3rem;
    padding:40px;
}

.log-in{
    width: 1080px;
    background-image: url("https://res.cloudinary.com/maravoly/image/upload/v1657429022/images/examen/login_ywgm5a.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    font-weight: 300; 
    font-size: 1.3rem;
    padding:40px;
    margin-left: 15px;
}

.registro{
    text-align:justify;
}

.postulante{
    font-size: 24px;
}

.cont{
    width: 1080px;
    height: 400px;
    background-image: url("https://res.cloudinary.com/maravoly/image/upload/v1657429022/images/examen/login_ywgm5a.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    font-weight: 300; 
    font-size: 1.3rem;
    padding:40px;
    margin-left: 15px;
}

.ing-pos{
    width: 1080px;
    background-image: url("https://res.cloudinary.com/maravoly/image/upload/v1657443443/images/examen/fondo1_tdtpc2.webp");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    font-weight: 300; 
    font-size: 1.3rem;
    padding:40px;
    margin-left: 15px;
    color: rgb(0, 1, 2);
}

.c-text{
    font-size: 1rem;
}

.form{
    width: 1080px;
    background-image: url("https://res.cloudinary.com/maravoly/image/upload/v1657445156/images/examen/fondo1_fufuxw.webp");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    font-weight: 300; 
    font-size: 1.3rem;
    padding:40px;
    margin-left: 15px;
    color: rgb(0, 1, 2);
}

.det-oferta{
    width: 1080px;
    height: 450px;
    background-image: url("https://res.cloudinary.com/maravoly/image/upload/v1657445154/images/examen/fondo_kzputr.webp");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    font-weight: 300; 
    font-size: 1.7rem;
    padding:40px;
    margin-left: 15px;
    color: rgb(0, 1, 2);
}